// Microsoft Visual C++ generated resource script.
//
#include <windows.h>
#include "resource.h"
#include "version.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

#if MAINWIN
IDI_ICON               ICON                    "icon.w.ico"
#endif // MAINWIN
#if MAINSCR
IDI_ICON               ICON                    "icon.s.ico"
#endif // MAINSCR

